*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
    font-size: 15px;
}

body {
    /*background-color: hsl(75, 94%, 57%);/*green for font*/

    /*background-color: hsl(0, 0%, 100%);/*white for font*/

    /*background-color: hsl(0, 0%, 20%);/*grey for container*/
    /*background-color: hsl(0, 0%, 12%);/*grey for background*/
    background-color: hsl(0, 0%, 8%);/*black for font*/

    display: grid;
    place-items: center;
    height:100vh;
}

.main_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: hsl(0, 0%, 12%);
    padding: 20px;
    border-radius: 7px;
    width: 270px;
}
 
img {
    width: 50px;
    border-radius: 100px;
}

.name-class {
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    margin-top: 22px;
}

.location-class {
    color: hsl(75, 94%, 57%);
    margin-top: 7px;
    font-size: 9px;
}

.designation-class {
    color: hsl(0, 0%, 100%);
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 9px;
}

.social-media-container {
    text-align: center;
    font-size: 10px;
    font-weight: bolder;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    margin: 5px;
}

.social-media-container:hover {
    text-align: center;
    font-size: 10px;
    font-weight: bolder;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
    margin: 5px;
  }

.attribution { 
    font-size: 11px; 
    color: hsl(0, 0%, 100%);
    text-align: center; 
    margin-left: 10px;
    margin-right: 10px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}